// Colors
$cream: #fefce7;
$orange: #ffb433;
$green: #717e1c;
$grey: #2e2c28;
$black: #161613;

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;

// Spacing
$spacing-unit: 8px;
$spacing-small: $spacing-unit;
$spacing-medium: $spacing-unit * 2;
$spacing-large: $spacing-unit * 3;

// Typography
$font-family-base: "Arial", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
